<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            background-color: #222;
            font-family: Roboto, Arial, sans-serif;
            color: #fff;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-top: 50px;
            text-align: center;
        }

        form {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input[type="submit"] {
            margin-top: 20px;
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
            border: none;
            border-radius: 2px;
            background-color: #c4302b;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
        }

        input[type="submit"]:hover {
            background-color: #b02823;
        }

        h3 {
            margin-top: 20px;
            font-size: 16px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Mettre a jour le modpack</h1>
    <form action="/update" method="get">
        <input type="submit" value="update">
    </form>

    <% if(response !== undefined || null ) { %>
        <h3><%= response%></h3>
    <% } %>
</body>
</html>