<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <style>
        body {
            background-color: #222;
            font-family: Roboto, Arial, sans-serif;
            color: #fff;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-top: 50px;
            text-align: center;
        }

        form {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input[type="text"],
        input[type="password"] {
            margin-top: 10px;
            padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 2px;
            background-color: #333;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            color: #fff;
        }

        input[type="submit"] {
            margin-top: 20px;
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
            border: none;
            border-radius: 2px;
            background-color: #c4302b;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
        }

        input[type="submit"]:hover {
            background-color: #b02823;
        }
    </style>
</head>
<body>
    <h1>Authenification admin</h1>
    <form method="post" action="/users/auth">
        <input type="text" name="email" id="email">
        <input type="password" name="password" id="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>