#modal {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

#close-button {
    position: absolute;
    right: 0;
    top: 5px;
}

#modal h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

/* styles pour les champs de formulaire */
#modal form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#modal form input[type="text"],
#modal form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* styles pour le bouton */
#modal form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #008CBA;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#modal form button:hover {
    background-color: #006B8F;
}